
// header and footer -- primary color
// #A15E90
$primary-color: #5e90a1;

// body -- secondary color
// #A15E90
$secondary-color: #a15e90;

// buttons -- tertiary color
// #90A15E
$tertiary-color: #90a15e;

$c-white: white;
