<div class="body">
<!--  TODO: define the form...-->
  <form class="body__form" [formGroup]="fg">
    <div class="body__form-fields">
      <input formControlName="firstName" type="text">
      <input formControlName="lastName" type="text">
      <input formControlName="dateOfBirth" type="text">
      <input formControlName="technology" type="text">
      <input formControlName="version" type="text">
      <input formControlName="email" type="text">
      <input formControlName="hobby" type="text">
    </div>
    <button (click)="submit()">Submit</button>
  </form>
</div>
